/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: "Poppins-Regular, sans-serif";
src: local("Poppins-Regular, sans-serif"),
 url("./fonts/Poppins-Regular.ttf") format("truetype");
font-weight: bold;
}

.poppy {
    font-family: 'Poppins-Regular, sans-serif';
}

body {
    background-image: url('./assets/background/gits-back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}