/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: "Poppins-Regular, sans-serif";
src: local("Poppins-Regular, sans-serif"),
 url("./fonts/Poppins-Regular.ttf") format("truetype");
font-weight: bold;
}

@layer utilities {
  .text-shadow {
    text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  }
}

.poppy {
    font-family: 'Poppins-Regular, sans-serif';
}

body {
    background-image: url('./assets/background/gits-back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.button-plz-show {
  position: fixed;
  bottom: 80px;
  right: 15px;
  font-size: 70px;
  background: black;
  opacity: 0.6;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  align-content: center;
}